<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda PC{% endblock %}</title>
    
</head>
<body>

    <h1>Tienda de Componentes Computacionales</h1>

    <nav>

        <a href="{% url 'inicio' %}">Inicio</a>

        {% if user.is_authenticated %}

            |
            <a href="{% url 'catalogo' %}">Catálogo</a>

            {% if perms.tienda.view_producto %}
                |
                <a href="{% url 'panel' %}">Panel</a>
            {% endif %}

            |

            Usuario:
            <strong>{{ user.username }}</strong>

            {% for grupo in user.groups.all %}
                ({{ grupo.name }})
            {% empty %}
                (Sin grupo)
            {% endfor %}

            |

            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Cerrar sesión</button>
            </form>

        {% else %}

            |
            <a href="{% url 'login' %}">Iniciar sesión</a>

        {% endif %}

    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>